@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html {
    scroll-behavior: smooth;
  }

  html,
  body {
    @apply bg-champagne text-blue-900;
  }

  .gradient {
    background: linear-gradient(
      to right,
      #fb2647,
      #ff7842,
      #ffb042,
      #35e37c,
      #1d69d3,
      #7b59c2,
      #fecbd3,
      #a1c3f2
    );
  }

  .gradient.one {
    background: linear-gradient(to right, #fb2647, #ff7842, #ffb042);
  }

  .gradient.two {
    background: linear-gradient(to right, #ffb042, #35e37c, #1d69d3, #7b59c2);
  }

  .gradient.three {
    background: linear-gradient(to right, #7b59c2, #fecbd3, #a1c3f2);
  }

  .contact-gradient {
    background: radial-gradient(
      circle at bottom right,
      #f3b358,
      #f49c4d,
      #f38448,
      #f06b47,
      #eb4f4b,
      #dc355e,
      #bb3078,
      #8f3886,
      #5b3e87,
      #1e3d7a 60%
    );
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .events-red {
    @apply from-red-900 to-red-800 border-red-900;
  }

  .events-blue {
    @apply from-blue-900 to-blue-800 border-blue-900;
  }

  .events-green {
    @apply from-green-900 to-green-800 border-green-900;
  }

  .events-yellow {
    @apply from-yellow-900 to-yellow-800 border-yellow-900;
  }

  .events-purple {
    @apply from-purple-900 to-purple-800 border-purple-900;
  }

  .events-orange {
    @apply from-orange-900 to-orange-800 border-orange-900;
  }
}
