@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    @apply bg-champagne text-blue-900;
  }

  .gradient {
    background: linear-gradient(
      to right,
      #fb2647,
      #ff7842,
      #ffb042,
      #35e37c,
      #1d69d3,
      #7b59c2,
      #fecbd3,
      #a1c3f2
    );
  }

  .contact-gradient {
    background: radial-gradient(
      circle at bottom right,
      #f3b358,
      #f49c4d,
      #f38448,
      #f06b47,
      #eb4f4b,
      #dc355e,
      #bb3078,
      #8f3886,
      #5b3e87,
      #1e3d7a 60%
    );
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.petal-pattern {
  background-image: url("data:image/svg+xml,%3Csvg width='148' height='146' viewBox='0 0 148 146' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8438 129.285L5.34378 140.285C-15.7637 76.2849 41.7316 -19.2152 141.344 4.78465L129.844 15.7847C79.7363 -3.71509 -1.26373 51.7849 15.8438 129.285Z' fill='%230E0E0E'/%3E%3Cpath d='M130.737 16.2847L142.237 5.28474C163.344 69.2845 105.349 165.285 5.73693 141.285L16.2366 129.785C66.3441 149.285 147.844 93.7845 130.737 16.2847Z' fill='%230E0E0E'/%3E%3Cpath d='M15.8438 129.285L5.34378 140.285C-15.7637 76.2849 41.7316 -19.2152 141.344 4.78465L129.844 15.7847C79.7363 -3.71509 -1.26373 51.7849 15.8438 129.285Z' stroke='%230E0E0E'/%3E%3Cpath d='M130.737 16.2847L142.237 5.28474C163.344 69.2845 105.349 165.285 5.73693 141.285L16.2366 129.785C66.3441 149.285 147.844 93.7845 130.737 16.2847Z' stroke='%230E0E0E'/%3E%3C/svg%3E");
}
